<div class="about-item">
  <h3 class="about-item-title">コスパ最強</h3>
  <p class="about-item-text">Ruby/PHP/JS/AWSなど幅広い分野の教材を月額2980円から観覧可能なコスパ最強の学習教材です</p>
</div>
<div class="about-item">
  <h3 class="about-item-title">進化</h3>
  <p class="about-item-text">教材は常に追加するため時間が経つにつれどんどんコンテンツが増えていきます</p>
</div>
<div class="about-item">
  <h3 class="about-item-title">即改善</h3>
  <p class="about-item-text">受講生の意見を吸い上げ改善点や追加要望があれば即座にエンジニアが対応いたします</p>
</div>
