<div class="col-4">
  <div class="about-item">
    <h3 class="about-item-title">読みやすい</h3>
    <p class="about-item-text">お洒落で可愛くデザイン<br>飽きない工夫をしています</p>
  </div>
</div>
<div class="col-4">
  <div class="about-item">
    <h3 class="about-item-title">即改善</h3>
    <p class="about-item-text">教材はすぐに編集が可能な為<br>要望があればすぐ改善します</p>
  </div>
</div>
<div class="col-4">
  <div class="about-item">
    <h3 class="about-item-title">作りながら学ぶ</h3>
    <p class="about-item-text">基礎が延々と続くような<br>眠くなる教材ではありません</p>
  </div>
</div>
<div class="col-4">
  <div class="about-item">
    <h3 class="about-item-title">進捗管理</h3>
    <p class="about-item-text">ご自身の進み具合をグラフ<br>で確認することができます</p>
  </div>
</div>
<div class="col-4">
  <div class="about-item">
    <h3 class="about-item-title">ビジネスも学べる</h3>
    <p class="about-item-text">プログラミングだけでなく<br>マーケティングも学べます</p>
  </div>
</div>
<div class="col-4">
  <div class="about-item">
    <h3 class="about-item-title">動画とテキスト</h3>
    <p class="about-item-text">教材にはテキストだけで無く<br>動画で学べるものもあります</p>
  </div>
</div>
