<footer class="static-footer base-bg-color">
  <div class="footer-contents">
    <ul class="footer-list">
      <li><a href="#">株式会社やんばるスパイクについて</a></li>
    </ul>
    <ul class="footer-list">
      <li><a href="#">利用規約</a></li>
      <li><a href="#">プライバシーポリシー</a></li>
      <li><a href="#">特定商取引法に基づく表記</a></li>
      <li><a href="#">お問い合わせ</a></li>
    </ul>
    <ul class="footer-list">
      <li>フォローお気軽に！</li>
      <li><%= link_to "LINE", "https://line.me/R/ti/p/%40fyp8311b", target: "_blank", rel: "noopener" %></li>
      <li><%= link_to "Twitter", "https://twitter.com/yoshito410kam", target: "_blank", rel: "noopener" %></li>
      <li><%= link_to "YouTube", "https://www.youtube.com/channel/UCwrDvYey9uKGBeh_l5IF-ag", target: "_blank", rel: "noopener" %></li>
      <li><%= link_to "Facebook", "https://ja-jp.facebook.com/yoshito.kamizato", target: "_blank", rel: "noopener" %></li>
    </ul>
  </div>
</footer>
