<div class="footer_contents">
  <ul class="footer_list">
    <li>
      <a target="_blank" href="#">株式会社やんばるスパイクについて</a>
    </li>
  </ul>
  <ul class="footer_list">
    <li>
      <a target="_blank" href="#">利用規約</a>
    </li>
    <li>
      <a target="_blank" href="#">プライバシーポリシー</a>
    </li>
    <li>
      <a target="_blank" href="#">特定商取引法に基づく表記</a>
    </li>
    <li>
      <a target="_blank" href="#">お問い合わせ</a>
    </li>
  </ul>
  <ul class="footer_list">
    <div>フォローお気軽に！</div>
    <li>
      <a target="_blank" href="#">LINE</a>
    </li>
    <li>
      <a target="_blank" href="#">Twitter</a>
    </li>
    <li>
      <a target="_blank" href="#">YouTube</a>
    </li>
    <li>
      <a target="_blank" href="#">Facebook</a>
    </li>
  </ul>
</div>
