<div class="col-4">
  <div class="util-item">
    <h3 class="util-item-title">Ruby/Rails</h3>
    <p class="util-item-text">ベンチャーで多く<br>採用されている技術</p>
  </div>
</div>
<div class="col-4">
  <div class="util-item">
    <h3 class="util-item-title">PHP/Laravel</h3>
    <p class="util-item-text">ベンチャーで多く<br>採用されている技術</p>
  </div>
</div>
<div class="col-4">
  <div class="util-item">
    <h3 class="util-item-title">AWS</h3>
    <p class="util-item-text">インフラ構築で多く<br>採用されている技術</p>
  </div>
</div>
<div class="col-4">
  <div class="util-item">
    <h3 class="util-item-title">HTML/CSS</h3>
    <p class="util-item-text">Webエンジニアなら<br>学習必須の言語</p>
  </div>
</div>
<div class="col-4">
  <div class="util-item">
    <h3 class="util-item-title">JavaScript</h3>
    <p class="util-item-text">Webエンジニアなら<br>学習必須の言語</p>
  </div>
</div>
<div class="col-4">
  <div class="util-item">
    <h3 class="util-item-title">Vue/Angular</h3>
    <p class="util-item-text">フロントエンド<br>フレームワーク</p>
  </div>
</div>
