<% content_for(:title) { "Webデザイン講座" } %>
<% content_for(:description) { "やんばるエキスパートのWebデザイン講座決済完了ページ" } %>

<section id="design-success" >
  <div class="wrapper" style="width: 40%; margin: 100px auto; min-width: 300px;">
    <h2 style="text-align: center;">決済が完了しました</h2>
    <p>
      この度、やんばるエキスパートwebデザイン講座にお申し込みいただきありがとうございます。<br><br>
      3日以内に運営より、Slack（やんばるエキスパートのコミュニティ）への招待メールが本メールアドレスに届きます。招待メールが届き次第メールの案内に従いSlackへの登録等を進めてください<br><br>
      万が一登録したメールアドレスが間違っており、メールが届かないなどありましたらwebデザイン講座トップページの「お問い合わせ」より連絡をお願いいたします。
    </p>
    <%= link_to 'TOPに戻る', static_pages_path, style: "text-align: center; display: block; text-decoration: none;"  %>
  </div>
</section>
