<div class="home_container">
  <section class="heading">
    <div class="row">
      <div>
        <h1>進化し続ける教材</h1>
        <p>コンテンツ随時追加</p>
        <%= link_to "教材一覧を見る", texts_path, class: 'btn btn-primary' %>
      </div>
    </div>
    <div class="row">
      <div class="mx-auto">
        <ul>
          <li>Ruby/Rails</li>
          <li>PHP/Laravel</li>
          <li>AWS</li>
          <li>HTML/CSS/JS/Vue/Angular</li>
        </ul>
      </div>
    </div>
  </section>
  <section class="about">
    <h2>やんばるCODE教材とは？</h2>
    <div class="row">
      <%= render "about_item" %>
    </div>
  </section>
  <section class="teaching-list">
    <h2>教材一覧</h2>
    <div class="row">
      <%= render "teaching_item" %>
    </div>
  </section>
  <section class="features">
    <h2>教材の特徴</h2>
    <div class="row">
      <%= render "feature_item" %>
    </div>
  </section>
  <section class="services">
    <h2>関連サービス</h2>
    <div>こちらの教材は以下の講座で利用されています</div>
    <div class="row">
      <div class="col-6">
        <div class="">
          <h3 class="util-item-title">やんばるCODE</h3>
          <p class="util-item-text">オンラインとオフラインのスクールがあります</p>
        </div>
      </div>
      <div class="col-6">
        <div class="util-item">
          <h3 class="util-item-title">やんばるエキスパート</h3>
          <p class="util-item-text">サポートが意味不明に手厚いかなり頭おかしい講座です</p>
        </div>
      </div>
    </div>
  </section>
  <section class="developer">
    <h2>開発者</h2>
  </section>
  <section class="administor">
    <h2>運営者</h2>
  </section>
  <section class="faq">
    <h2>よくある質問</h2>
  </section>
</div>
