<div class="container">
  <section class="heading">
    <div class="row"">
      <div">
        <h1>進化し続ける教材</h1>
        <p>コンテンツ随時追加</p>
        <%= link_to "教材一覧を見る", texts_path, class: 'btn btn-primary' %>
      </div>
    </div>
    <div class="row"">
      <div class="mx-auto">
        <ul>
          <li>Ruby/Rails</li>
          <li>PHP/Laravel</li>
          <li>AWS</li>
          <li>HTML/CSS/JS/Vue/Angular</li>
        </ul>
      </div>
    </div>
  </section>
  <section class="about">
    <h2>やんばるCODE教材とは？</h2>
    <div class="row">
      <div class="col-4">
        <div class="about-item">
          <h3 class="about-item-title">コスパ最強</h3>
          <p class="about-item-text">Ruby/PHP/JS/AWSなど幅広い分野の教材を月額2980円から観覧可能なコスパ最強の学習教材です</p>
        </div>
      </div>
      <div class="col-4">
        <div class="about-item">
          <h3 class="about-item-title">進化</h3>
          <p class="about-item-text">教材は常に追加するため時間が経つにつれどんどんコンテンツが増えていきます</p>
        </div>
      </div>
      <div class="col-4">
        <div class="about-item">
          <h3 class="about-item-title">即改善</h3>
          <p class="about-item-text">受講生の意見を吸い上げ改善点や追加要望があれば即座にエンジニアが対応いたします</p>
        </div>
      </div>
    </div>
  </section>
  <section class="teaching-list">
    <h2>教材一覧</h2>
    <div class="row">
    <div class="col-4">
      <div class="about-item">
        <h3 class="about-item-title">Ruby/Rails</h3>
        <p class="about-item-text"></p>
      </div>
    </div>
    <div class="col-4">
      <div class="about-item">
        <h3 class="about-item-title">PHP/Laravel</h3>
        <p class="about-item-text"></p>
      </div>
    </div>
    <div class="col-4">
      <div class="about-item">
        <h3 class="about-item-title">AWS</h3>
        <p class="about-item-text"></p>
      </div>
    </div>
    <div class="col-4">
      <div class="about-item">
        <h3 class="about-item-title">HTML/CSS</h3>
        <p class="about-item-text"></p>
      </div>
    </div>
    <div class="col-4">
      <div class="about-item">
        <h3 class="about-item-title">JavaScript</h3>
        <p class="about-item-text"></p>
      </div>
    </div>
    <div class="col-4">
      <div class="about-item">
        <h3 class="about-item-title">Vue/Angular</h3>
        <p class="about-item-text"></p>
      </div>
    </div>
    </div>
  </section>
  <section class="features">
    <h2>教材の特徴</h2>
  </section>
  <section class="services">
    <h2>関連サービス</h2>
  </section>
  <section class="developer">
    <h2>開発者</h2>
  </section>
  <section class="administor">
    <h2>運営者</h2>
  </section>
  <section class="faq">
    <h2>よくある質問</h2>
  </section>
</div>
