<div class="container">
  <section class="heading">
    <div class="row"">
      <div">
        <h1>進化し続ける教材</h1>
        <p>コンテンツ随時追加</p>
        <%= link_to "教材一覧を見る", texts_path, class: 'btn btn-primary' %>
      </div>
    </div>
    <div class="row"">
      <div class="mx-auto">
        <ul>
          <li>Ruby/Rails</li>
          <li>PHP/Laravel</li>
          <li>AWS</li>
          <li>HTML/CSS/JS/Vue/Angular</li>
        </ul>
      </div>
    </div>
  </section>
</div>
