<div class="design-check-sheet">
  <div class="design-title">
    <p class="square">課題提出前<span class="small">の</span></p>
    <p class="big-title">セルフチェックシート</p>
  </div>
  <div class="design-check-content">
    <%= render partial: "movies/category", collection: @categories %>
  </div>
</div>