<div class="card my-5">
  <h5 class="card-header">公開範囲について</h5>
  <div class="card-body">
    <p class="card-text">
      こちらの教材は，やんばるエキスパート会員限定で公開しております。
    </p>
    <p class="card-text">
      申し込みは以下のページよりお願いいたします。
    </p>
    <p><a href="https://yanbaru-expert.com/">やんばるエキスパート Ruby講座</a></p>
    <p><a href="https://www.yanbaru-code.com/php/">やんばるエキスパート PHP講座</a></p>
    <p><a href="https://www.yanbaru-code.com/design/">やんばるエキスパート デザイン講座</a></p>
  </div>
</div>
