.memo-area.form-control {
  height: calc(100vh - 230px);
  resize: none;
}

.memo-hint-btn {
  border-radius: 50%;
}

.memo-btn {
  max-width: 250px;
  width: 100%;
}

.memo-preview-area {
  line-height: 1.3;
}