.info_box {
  padding: 0.2em 0.5em;
  margin: 2em 0;
  color: #565656;
  background: #ffeaea;
  box-shadow: 0px 0px 0px 10px #ffeaea;
  border: dashed 2px #ffc3c3;
  border-radius: 8px;

  p {
    margin: 0;
    padding: 0;
  }
}

// デザイン課題チェックシート用　スタイル　↓

.design-check-sheet{
  font-family: 'Noto Sans JP', sans-serif;
  font-size:16px;
  background:#fff;
  margin:50px auto;
  min-width: 768px;
  width:60%;
  justify-content: center;
  align-items: center;
  border:solid 1px #aaa;

  .design-title{
    font-size:16px;
    justify-content: center;
    align-items: center;
    margin-bottom:80px;

    .square{
      background: #4B5DFF;
      border-radius: 50px;
      height:48px;
      width:256px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
    }
    .big-title{
      display: flex;
      justify-content: center;
      align-items: center;
      font-size:32px;
      letter-spacing: 0.2em;
      margin: auto;
      color:#0148FF;
    }
  }
  .design-check-content{
    background:#fff;
    padding:32px;

    .design-check-box{
      background:#fff;
      display:flex;
      padding:10px;
      margin:0x;
      border-bottom: solid 1px #aaa;
      .design-check-imgbox{
        width:300px;
      }
      .design-check-list{
        background:#fff;
        list-style: none;
      }
    }
  }
}
// ここまで