.info_box {
  padding: 0.2em 0.5em;
  margin: 2em 0;
  color: #565656;
  background: #ffeaea;
  box-shadow: 0px 0px 0px 10px #ffeaea;
  border: dashed 2px #ffc3c3;
  border-radius: 8px;

  p {
    margin: 0;
    padding: 0;
  }
}

// デザイン課題チェックシート用　スタイル　↓
$sp-check: 900px;
$smart-phone: 375px;

.design-check-sheet{
  font-family: 'Noto Sans JP', sans-serif;
  font-size:1rem;
  background:#F0F5FE;
  padding:50px 100px;
  margin:0px auto;
  min-width: 968px;

  width:100%;
  justify-content: center;
  align-items: center;
  border:solid 0px;
  @media (max-width: ($sp-check)){
    min-width: 400px;
    padding:40px 56px;
    width:100%;
  }
  @media (max-width: ($smart-phone)){
    min-width: 300px;
    padding:15px;
    width:100%;
  }
  .design-title{
    font-size:1rem;
    justify-content: center;
    align-items: center;
    margin-bottom:80px;
    @media (max-width: ($sp-check)){
      margin-bottom:48px;
    }

    .square{
      background: #4B5DFF;
      border-radius: 50px;
      color:#fff;
      padding:8px;
      height:48px;
      width:256px;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      margin: auto;
      font-size:1.5rem;
      @media (max-width: ($sp-check)){
        // font-size:1rem;
        width:200px;
      }
      @media (max-width: ($smart-phone)){
        margin-bottom:16px;
        height:40px;
        font-size:1rem;
        align-items: flex-end;
      }
      .small{
        font-size:1rem;
        @media (max-width: ($sp-check)){
          // font-size:0.5rem;
        }
        @media (max-width: ($smart-phone)){
          font-size:0.8rem;
        }
      }
    }
    .big-title{
      display: flex;
      justify-content: center;
      align-items: center;
      font-size:2rem;
      font-weight: bold; 
      letter-spacing: 0.2em;
      margin: auto;
      color:#0148FF;
      @media (max-width: ($sp-check)){
        font-size:1.5rem;
      }
    }
  }
  .design-check-content{
    background:#fff;
    padding:0px 32px;

    .design-check-box{
      background:#fff;
      display:flex;
      padding:24px 32px;
      border-bottom: solid 1px #aaa;
      @media (max-width: ($sp-check)){
        display:block;
        border-bottom: none;
        padding:24px 0px;
      }
      @media (max-width: ($smart-phone)){
        padding:8px 0px;
      }
      .design-check-imgbox{
        width:250px;
        @media (max-width: ($sp-check)){
          width:100%;
        }
        display: flex;
        align-items: center;
        padding:0px;
        img{
          width:48px;
          @media (max-width: ($sp-check)){
            width:48px;
          }
          @media (max-width: ($smart-phone)){
            width:24px;
          }
        }
        .category-name{
          font-size:1.5rem;
          padding-left:24px;
          align-items: center;
          @media (max-width: ($smart-phone)){
            font-size:1.2rem;
            padding-left:8px;
          }
        }
      }
      .design-check-imgbox:after{
        @media (max-width: ($sp-check)){
          content: "";
          flex-grow: 1;
          display: block;
          height: 1px; /* 線の太さを変えたいときはここを変える */
          background: #000; /* 線の色を変えたいときはここを変える */
          margin:0 .4em; 
        }
      }
      .design-check-list{
        background:#fff;
        margin:0px;
        padding:0px;
        @media (max-width: ($sp-check)){
          padding:24px 24px 0px;
        }
        @media (max-width: ($smart-phone)){
          padding:24px 0px 0px 24px;
        }
        .list-content{
          background: url('https://i.imgur.com/0JjXaDB.png') no-repeat 0px 0.5em;
          list-style: none;
          padding:12px 0px  12px 46px;
          @media (max-width: ($smart-phone)){
            background-size: 16px 16px;
            font-size:0.7em;
            padding:8px 0px  8px 24px;
          }
        }
      }
    }
    .design-check-box:last-child{
      border-bottom:none;
    }
  }
}
// ここまで