.info_box {
  padding: 0.2em 0.5em;
  margin: 2em 0;
  color: #565656;
  background: #ffeaea;
  box-shadow: 0px 0px 0px 10px #ffeaea;
  border: dashed 2px #ffc3c3;
  border-radius: 8px;

  p {
    margin: 0;
    padding: 0;
  }
}

// デザイン課題チェックシート用　スタイル　↓

.design-check-sheet{
  font-family: 'Noto Sans JP', sans-serif;
  font-size:1rem;
  background:#F0F5FE;
  padding:50px 100px;
  margin:0px auto;
  min-width: 968px;
  width:60%;
  justify-content: center;
  align-items: center;
  border:solid 0px;

  .design-title{
    font-size:1rem;
    justify-content: center;
    align-items: center;
    margin-bottom:80px;

    .square{
      background: #4B5DFF;
      border-radius: 50px;
      color:#fff;
      padding:8px;
      height:48px;
      width:256px;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      margin: auto;
      font-size:1.5rem;
      .small{
        font-size:1rem;
      }
    }
    .big-title{
      display: flex;
      justify-content: center;
      align-items: center;
      font-size:2rem;
      font-weight: bold; 
      letter-spacing: 0.2em;
      margin: auto;
      color:#0148FF;
    }
  }
  .design-check-content{
    background:#fff;
    padding:0px 32px;

    .design-check-box{
      background:#fff;
      display:flex;
      padding:24px 32px;
      border-bottom: solid 1px #aaa;
      .design-check-imgbox{
        width:250px;
        display: flex;
        align-items: center;
        padding:0px;
        .category-name{
          font-size:1.5rem;
          padding-left:24px;
        }
      }
      .design-check-list{
        background:#fff;
        margin:0px;
        padding:0px;
        .list-content{
          background: url('https://i.imgur.com/0JjXaDB.png') no-repeat 0px 0.5em;
          list-style: none;
          padding:12px 0px  12px 46px;
        }
      }
    }
    .design-check-box:last-child{
      border-bottom:none;
    }
  }
}
// ここまで