@import "bootstrap/functions";
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import 'base';
@import 'advertising';
@import 'markdown';
@import 'movie';
@import 'my_pages';
@import 'questions';
@import 'rouge';
@import 'texts';
@import 'memo';
