/*
 *= require_tree .
 *= require_self
 */

@import "bootstrap/functions";
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

// 最大横幅

@each $breakpoint in map-keys($grid-breakpoints) {
  .mw-#{$breakpoint} {
    max-width: var(--breakpoint-#{$breakpoint});
  }
}

// カラー

$base-color: linear-gradient(to right, #353ADA, #5A9DFB);
$line-color: linear-gradient(to right, #1D7B32, #31CD53);

// 全体
body {
  min-height: 100vh;
  position: relative;
  padding-top: 56px;
  padding-bottom: 50px;
  box-sizing: border-box;
}

.base-container {
  @extend .container-fluid;
  padding-top: 30px;
}

a:hover {
  text-decoration: none;
}

h1 {
  padding: 20px 0px 10px 0px;
  font-size: 2rem;
  text-align: center;
}

h2 {
  padding: 20px 0px 10px 0px;
  font-size: 1.75rem;
}

h3,
h4 {
  font-size: 1.5rem;
}

.form-check label {
  margin-left: 5px;
  margin-right: 20px;
}

// 背景色

.base-bg-color {
  background: $base-color;
}

.line-bg-color {
  background: $line-color;
}

// フォント色

.base-color {
  color: $base-color;
}

.line-color {
  color: $line-color;
}

// ヘッダー
.header-nav {
  font-size: 0.8rem;
  margin: 0 auto;
}

.navbar-collapse {
  justify-content: flex-end;
}

// フッター

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    padding: 0 20px;
    font-size: 20px;
  }
}

// フラッシュ

.alert-notice {
  @extend .alert-info;
}

.alert-alert {
  @extend .alert-danger;
}

// Google カレンダー

.g-calendar {
  text-align: center;
}

.g-calendar iframe {
  width: 100%;
  max-width: 800px;
  height: 400px;
}

@media (min-width: 768px) {
  .g-calendar iframe {
    height: 600px;
  }
}

// ページネーション

ul.pagination {
  justify-content: center;
}

// どの文字の間でも改行

.break-word {
  word-break: break-word;
}
