.heading {
  position: relative;
  height: 500px;

  .owner_icon {
    position: absolute;
    width: 250px;
    height: auto;
    right: 0;
    top: 0;
  }
}

.administor {
  position: relative;
  height: 500px;

  .administor_img {
    position: absolute;
    width: 30%;
    height: auto;
  }

  .administor_unit {
    width: 70%;
    position: absolute;
    top: 25%;
    right: 0;

    .administor_txt {
      display: inline-block;
      text-align: left;
    }
  }
}


.footer {
  margin-top: auto;
  height: 100px;

  .footer_contents {
    display: flex;
  }
}
