// カラー
$static-color: linear-gradient(to right, #0040ab, #1184cf, #0789d1);

// 背景色
.static-bg-color {
  background: $static-color;
}

// 背景色の全幅表示
.color-width {
  width: 100vw;
  margin: 0 calc(50% - 50vw);
  padding: 0 calc(50vw - 50%);
}

.heading {

  .heading-inner{
    position: relative;
    height: 500px;

    .owner_icon {
      position: absolute;
      width: 250px;
      height: auto;
      right: 0;
      top: 0;
    }
  }
}

.administor {
  position: relative;
  height: 500px;

  .administor_img {
    position: absolute;
    width: 30%;
    height: auto;
  }

  .administor_unit {
    width: 70%;
    position: absolute;
    top: 25%;
    right: 0;

    .administor_txt {
      display: inline-block;
      text-align: left;
    }
  }
}


.footer {
  margin-top: auto;
  height: 100px;

  .footer_contents {
    display: flex;
  }
}
