/*
トップページ共通
*/

// カラー
$static-color: linear-gradient(to right, #0040ab, #1184cf, #0789d1);

// 背景色
.static-bg-color {
  background: $static-color;
}

// 背景色の全幅表示
.color-width {
  width: 100vw;
  margin: 0 calc(50% - 50vw);
  padding: 0 calc(50vw - 50%);
}

// 擬似要素のライン
.pseudo-element-line {
  content: "";
  display: block;
  height: 10px;
  border-radius: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

// 各コンテンツの高さを調整
.home_container {
  @extend .color-width;
  overflow: auto;
  scroll-snap-type: y proximity;
  height: 100vh;

  .contents {
    position: relative;
    scroll-snap-align: start;
    height: 100vh;
  }
}

.contents-item {
  position: absolute;
  top: 30%;
  // height: auto;
}

// セクションタイトル下部のライン
.unit-title {
  font-size: 2rem;
  text-align: center;
  position: relative;

  &::after {
    @extend .pseudo-element-line;
    width: 50px;
    background: $static-color;
  }
}

.contents-title {
  font-size: 2rem;
  text-align: center;
  position: relative;

  &::after {
    @extend .pseudo-element-line;
    width: 50px;
    background: #fff;
  }
}


// ファーストビュー
#heading {

  #heading-inner{
    position: relative;
    // height: 100vh;

    .owner_icon {
      position: absolute;
      width: 250px;
      height: auto;
      right: 0;
      top: 0;
    }
  }
}

// やんばるCODEについて
.about_contents {
  height: auto;
  display: flex;
}

// 運営者
#administor {
  position: relative;

  #administor_img {
    position: absolute;
    width: 30%;
    height: auto;
  }

  .administor_unit {
    width: 70%;
    position: absolute;
    top: 25%;
    right: 0;

    .administor_txt {
      display: inline-block;
      text-align: left;
    }
  }
}


.footer_contents {
  margin-top: auto;
  display: flex;
  height: 300px;
}
