<div class="d-flex justify-content-around">
  <%= link_to "プレビュー", preview_memos_path, class: "btn btn-primary btn-lg memo-btn", id: "memo-preview-btn" , remote: true %>
  <button class="btn btn-primary btn-lg memo-btn d-none" id="memo-back-btn">戻る</button>
  <button type="button" class="btn btn-primary btn-lg memo-hint-btn" id="memo-hint-btn" data-toggle="modal" data-target="#memoHelpModal">？</button>
</div>

<form id="memo-form">
  <div class="form-group mb-0">
    <%# 非プレビュー時に表示 %>
    <label for="memo-area"></label>
    <textarea class="form-control memo-area" id="memo-area" onkeyup="count_up(this);"><%= @memo.content %></textarea>
    <%# プレビュー時に表示 %>
    <div class="memo-preview-area d-none" id="memo-preview-area"></div>
  </div>
</form>
<div class="text-right"><span id="memo-count">0</span>/30000</div>

<%= render 'help_modal' %>